<!DOCTYPE html>
<html>
	<head>
		<title>This is vue</title>
		<link >
	</head>
	<body>
		<h3>This is start vue Framwork</h3>
		
		<div id="p">
			<h3 v-if="look">This is hamja</h3>
		</div>
		
		<div id="r">
			<h2 v-bind:title="message">prolay</h2>
		</div>
		
		<div id="a">
			<input type="text" v-model="frute">
			{{ frute }}
			
		</div>
		
		<div id="b">
			<h2 :title="man.vill">{{man.name}}</h2>
			</br>
			
			<h2 :title="man1.vill">{{man1.name}}</h2>
		</div>
		
		<div id="c">
			<ul>
				<li v-for="can in can1">{{can}}</li>
			</ul>
		</div>
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
		<script>
			
			
			new Vue({
				el:'#r',
				data:{
					message:"Time is"+ new Date()
				}
			})
			
			
			new Vue({
				el:'#p',
				data:{
					look:true
				}
			})
			
			
				new Vue({
				el:'#a',
				data:{
					frute:"mango",
				}
			})
			
			new Vue({
				el:'#b',
				data:{
					man:{
						name:"Arafath",vill:"golpagonj"
					},
					man1:{
						name:"Shohan",vill:"golpagonj"
					}
					
				}
			})
			
			new Vue({
				el:'#c',
				data:{
					can1:["html","css","java","js","jq","python","django","laravel","vue"]
				}
			})
			
			
			
			
		</script>
	</body>
</html>